/* Note: if you want to make your website responsive then use rm, rem units */

/* fonts imports form the font.google.com */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');


/* Reset CSS */
/* Be default browser give padding and margin to our page  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* means everything should be inside box
     if padding include it should be include in box */
}

/* for font size, normal size is 16px, for responsive web site, going to use em
and use in %, this size 62.5% help to those users they wants to zoomin or out then fontsize 
will adjust accordingly */
html {
    /* font-size: 10px; */
    /* 16px --- 100% */
    /* 10px---(100/16)*10 = 62.5%   */
    font-size: 62.5%;
}

body {
    
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

ul li {
    list-style: none;
}

a{
    /* rem working according to its root element , we have set root element font size
    10px--> 62.5%, root element has 10px --1rem --> 1.6 rem means 16px */
    font-size: 1.6rem;
    text-decoration: none;
}

p, li {
    /* em size adjusted to its parent which has 1.6rem-->16px , so .5em --half of its parent 8px
    in responsive website when fontsize change, automatically margin adjusted according to its
    parent size */
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3 {
    margin-bottom: 0.5em;
    letter-spacing: 0.15rem;
    font-weight: 500; /* normally 700 */

}

/* ############ Utility Classes #############################*/


.container {
    max-width: 1200px;
    width: 90%; /* when user reduce screen size then text adjust its width with its parent */
    margin: 0 auto;
}

.bg-dark {
    background: #263238;
}

.lg-heading {
    font-size: 3.2rem; /* 32px */
}

.md-heading {
    font-size: 2.2rem; /* 22px */
}

/* color used in web */
.text-red {
    color: #e63946
}
.text-light {
    color: #f4f4f4
}

.text-black {
    color: #333333
}
.text-gray {
    color: #555555
}


.btn {
    display: inline-block; /* a tage or inline, after block it is easy to give padding, margin etc */
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn-primary {
    background: #f4f4f4;
    border-radius: 10em; /* 100px  */
}
.btn-primary:hover {
    background: #dddddd;
}

.btn-secondary {
    border: 2px solid #e63946;
    border-radius: 1.5em; 
    color: #e63946;
    background: white;
}
.btn-secondary:hover {
    background: #dddddd ;
}


/* --------------set the backgound images-----------------------------------------  */
.header {
    /* we can give 100vh then it ll cover whole page, 
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)) used to dark the background image  */
    position: relative; /* main div is relative and content div is absolute */
    height: 80vh; 
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/header-image.jpg');
    background-position: center;  /* set image in center */
    background-repeat: none;
    background-size: cover;
    /* Resize the background image to cover the entire container, 
    even if it has to stretch the image or cut a little bit off one of the edges */
    /* border: 2px solid red; */
}

/* ---------------------------------------------------------------------------- */
/* css for nav bar */
/* ---------------------------------------------------------------------------- */
.navbar {
    /* border: 2px solid white; */    
    padding: 1rem;
}

/* header logo & a links --> font color is white */
/* .header .logo, 
.header .nav-items a {
    color: white;
} */


.navbar a:link,
.navbar a:visited {
    color: #f4f4f4;
}

.navbar a:hover {
    border-bottom: 2px solid #f4f4f4;
}

/* header nav logo float left, header navbar items float right*/
.navbar .logo {
    float: left;
}

.navbar .nav-items {
    margin-top: 1rem; /* 10px */
    float: right;
    
}

.navbar .nav-item{
    display: inline;
    padding: 1rem;
    text-transform: uppercase;
    
}

/* after floating the elements, they are out of normal html flow and the border given has been
disapeared, to make element in normal html flow, solution is that to make 
Pesudo after class, it must take content which is empty string  */

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

/* ---------------------------------------------------------------------------- -----*/
/* -----------------------------End Nav Bar */
/* --------------------------------------------------------------------------------- */


/* ----------Content Header---------------------- */
/* here use the position we want this header-content should be position with respect to 
main header, 

main header position is relative --> in relative it ll remain in html flow
header content position is absolute --> bcz we want to adjust its position w.r.t main header,
in absolute position in out of normal flow, if we adjust its top, left it will position
w.r.t its closet parent, if i ll not find any parent then it will position itself main html */

.header-content{
    position:absolute;
    /* border: 2px solid #f4f4f4; */
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.header-content h1 {
    text-transform: uppercase;
    font-weight: 700;
}
.header-content p {
    text-transform: uppercase;
}



/* ###############Show Case Styling ################################### */

.showcase {
    background-color: #dddddd;
    padding: 10rem 0; /* 100px top bottom , left right*/
}

.row {
    height: 350px;
    background: #ffffff;
    box-shadow: 15px 15px 20px 0 #aaaaaa;  /* horizental, vertial , blur, spread, color */
}

.row1 {
    margin-bottom: 10rem;
    
}

.row1 .img-box,
.row1 .text-box {
    float: left;
    width: 50%;
}
.row1 .img-box {
    /* border: 2px solid green; */
    height: 100%; /* 100% of its parent that is row1 */
    
}

.row2 .img-box,
.row2 .text-box {
    float: right;
    width: 50%;
}
.row2 .img-box {
    /* border: 2px solid green; */
    height: 100%; /* 100% of its parent that is row1 */
}

.row .text-box {
    padding: 3rem; /* 30px */
}

.row .img-box img {
    /* img are inline element, we cannot apply padding,maring */
    display: inline-block; 
    width: 100%;
    height: 100%;
    object-fit: cover; /* image display adjust when zoom in or out */
}

/* after floating elements we have to clear, here we have already given height 
to row element, but safe side clear the float the in future there is no problem with
design */
.row::after {
    content: '';
    display: block;
    clear: both;
}


/* ################## Feature styling###################### */

.feature {
    padding: 10rem 0;
}
 /* .box-wrapper{
    border: 2px solid gold;   
}  */

.box {
    width: 33.33333%;
    float: left;
    /* border: 2px solid red; */
    padding: 2rem; /* 20px */
    text-align: center;
    box-shadow: 15px 15px 20px 0 #aaaaaa;  /* horizental, vertial , blur, sperad, color */
}


/* use https://gradienthunt.com/gradient/752  for gradients */ 
.box1 {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(146, 129, 30) 0%, rgba(225,130,1,1) 90.5% );
    color: white;
}
.box2 {
    background-image: linear-gradient( 90.1deg,  rgba(67,198,172,1) 37.7%, rgba(147,237,199,1) 85.1% );
    color: black;
}
.box3 {
    background-image: radial-gradient( circle 324px at 0.8% 51.7%,  rgba(234,92,125,1) 0%, rgba(236,112,102,1) 90% );
    color:white;
}

.box-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

/* ###################### Footer Styling ################################ */
.footer {
    background: #333333;
    color: #f4f4f4;
    padding: 2rem; /* 20px */
    text-align: center;
}
.social-media-links i {
    margin: 2rem; /* 20px */
}


/* ################### About Us ########################################## */

.about {
    padding: 3rem 0;  /* top-bottom 30px left-right 0px */
}

/* .about-foot {
    position:absolute;
    width: 100%;
    top: 100%;
    left: 0;

} */
/* use pesudo class bcz we can more control on line/border */
.about-heading::after {
    content: '';
    display: block; /* by default it is inline element */
    border: 3px solid #e63946;
    width: 100%;
}

.about-wrapper {
    /* border: 3px solid #e63946; */
    text-align: center;
    margin-top: 2rem;
}
.left {
    float: left;
    width: 50%;
}

.right {
    float:right;
    width: 50%;
}

.about-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

/* the style li element by using pesudo class, it apply before li  */
.about-wrapper li::before {
    content: '\2713';
    font-weight: bold;
    padding-right: 1rem;
    color:#e63946;
}

.counts {
    /* border: 3px solid #e63946;  */
    text-align: center;
    margin-top: 2rem;
}

.count-item {
    float: left;
    width: 25%;
}

/* clear floats */
.counts::after {
    content: '';
    display: block;
    clear: both;
}

.count-item span, p {
    font-weight: bold;
}


/* ##################### cat-banner ########################## */

.cat-banner {
    background-image: radial-gradient( circle 324px at 0.8% 51.7%,  rgba(234,92,125,1) 0%, rgba(236,112,102,1) 90% );
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000057;
    
    text-transform: uppercase;
}

.cta-line {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
}
.btn-cta {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    border: 3px solid white;
    padding: 0.3em 2.5em;
    letter-spacing: 0.3em;
    color: #f4f4f4;
    margin: 1.2rem;
}
.btn-cta:hover{
    background: #dddddd;
}    

.cat-banner-left {
    width: 60%;
    float: left;
}
.cat-banner-right {
    width: 40%;
    float: right;
    text-align: right;
    
}

.cat-banner::after{
    content: '';
    display: block;
    clear: both;
}


/* #######################COntact Page Styling############################# */

.contact-form {
    padding: 5rem 0;
    font-size: 2rem;
}

/* .from-wrapper {
    border: 3px solid red;
}
 */
.company-address{
    float: left;
    width: 49%;
    background: #ffffff;
    padding:2rem;
}

.company-address i {
    display: inline-block;
    margin-right: 1rem;
}
.company-address h2 {
    display: inline;
    text-transform: uppercase;
}

.address-group {
    margin-bottom: 3rem;
}

.company-address img {
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}


.form {
    float: right;
    width: 49%;
    background: #ffffff;
    font-size: 1.6rem;
}

.from-wrapper::after {
    content: '';
    display: block;
    clear: both;
}


/* ##################Form styling ##################################### */

.form h1::after {
    content:'';
    display:block;
    border: 3px solid #e63946;
    width: 100%;

}

.from-wrapper label {
    display: block;
}

.form input {
    padding: 0.5rem;
    width: 100%;
}

.from-wrapper label::after {
    content: '*';
    color: #e63946;
}

.from-grup {
    margin-bottom: 3rem;
}

.from-grup textarea {
    width: 100%;
    height: 200px;
    padding: 1rem;
}

.form-btn {
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946; 
    color: white;
}
